<!DOCTYPE html>
<html>
<head>
    <title>Anime</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/index.js"></script>
</head>
<body onload="init()">
<div id="header">
    <h1>Dataset Viewer</h1>
    <div class="button-row">
        <button id="character">character</button>
        <button id="Anime">Anime</button>
        <button id="person">person</button>
        <button id="Profile">Profile</button>

    </div>
</div>





{{{body}}}

</body>
</html>
